<f:layout name="Default" />

<!--
	Available in this view:
	
	- date				The date registered 
	- frontendUser		Currently logged in frontend user
	- workshop			Current workshop for the current date
	- registration		The registration that was just created
-->

<f:section name="content">
	<h2>Confirmation</h2>
	
	<p>You registered for:</p>
	
	<table>
		<tr>
			<th>Workshop</th>
			<td>{workshop.name}</td>
		</tr>
		<tr>
			<th>Begin / end</th>
			<td>
				<f:format.date format="d.m.Y H:i">{date.beginAt}</f:format.date>
				-
				<f:format.date format="d.m.Y H:i">{date.endAt}</f:format.date>
			</td>
		</tr>
	</table>
</f:section>