{namespace c=TYPO3\CMS\Core\ViewHelpers}
{namespace w=NIMIUS\Workshops\ViewHelpers}

<f:layout name="Backend"/>
 
<f:section name="docheader-buttons-left">
	<f:link.action controller="Backend\Registrations" action="index" arguments="{date: date}" class="btn btn-default btn-sm">
		<c:icon identifier="actions-move-left" />
	</f:link.action>
</f:section>

<f:section name="content">
	<h1>
		<f:translate key="model.registration" />
	</h1>
	
	<table class="typo3-dblist">
		<f:if condition="{registration.company}">
			<tr>
				<td><f:translate key="model.registration.property.company" /></td>
				<td>{registration.company}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.lastName}">
			<tr>
				<td><f:translate key="model.registration.property.lastName" /></td>
				<td>{registration.lastName}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.firstName}">
			<tr>
				<td><f:translate key="model.registration.property.firstName" /></td>
				<td>{registration.firstName}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.address}">
			<tr>
				<td><f:translate key="model.registration.property.address" /></td>
				<td>{registration.address}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.zip}">
			<tr>
				<td><f:translate key="model.registration.property.zip" /></td>
				<td>{registration.zip}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.city}">
			<tr>
				<td><f:translate key="model.registration.property.city" /></td>
				<td>{registration.city}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.country}">
			<tr>
				<td><f:translate key="model.registration.property.country" /></td>
				<td>{registration.country}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.telephone}">
			<tr>
				<td><f:translate key="model.registration.property.telephone" /></td>
				<td>{registration.telephone}</td>
			</tr>
		</f:if>
		
		<f:if condition="{registration.email}">
			<tr>
				<td><f:translate key="model.registration.property.email" /></td>
				<td>{registration.email}</td>
			</tr>
		</f:if>
	</table>
	
	
	<f:if condition="{registration.additionalFields -> f:count()}">
		<table class="typo3-dblist">
			<f:for each="{registration.additionalFields}" as="fieldValue" key="fieldKey">
				<tr>
					<td><f:translate key="model.registration.property.{fieldKey}">{fieldKey}</f:translate></td>
					<td>{fieldValue}</td>
				</tr>
			</f:for>
		</table>
	</f:if>
</f:section>