<f:be.container includeCssFiles="{0: '{f:uri.resource(path: \'Stylesheets/Backend.css\')}'}">
	<div class="module">
		<div class="module-docheader t3js-module-docheader">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
				<div class="module-docheader-bar-column-left"></div>
				<div class="module-docheader-bar-column-right"></div>
			</div>
			
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<div class="btn-toolbar" role="toolbar" aria-label="">
						<f:render section="docheader-buttons-left" />
					</div>
				</div>
				
				<div class="module-docheader-bar-column-right"></div>
			</div>
		</div>
		
		<div class="module-body t3js-module-body" style="padding-top: 90px;">
			<f:render section="content" />
		</div>
	</div>
</f:be.container>