{namespace c=TYPO3\CMS\Core\ViewHelpers}
{namespace w=NIMIUS\Workshops\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="docheader-buttons-left">
	<f:link.action action="index" class="btn btn-default btn-sm">
		<c:icon identifier="actions-move-left" />
	</f:link.action>
	
	<w:be.tableLink
		table="tx_workshops_domain_model_date"
		uid="{pageUid}"
		key="new"
		defaultValues="{workshop: workshop.uid}"
		class="btn btn-default btn-sm">
		<c:icon identifier="actions-document-new" />
	</w:be.tableLink>
</f:section>
 
<f:section name="content">
	<h1>{workshop.name}</h1>
	
	<f:if condition="{upcomingDates}">
		<f:then>
			<div class="panel panel-space panel-default recordlist">
				<div class="panel-heading">
					<f:translate key="model.date._plural" />
				</div>
				
				<div class="collapse in" data-state="expanded">
					<div class="table-fit">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th nowrap="nowrap" class="col-icon"></th>
									<th nowrap="nowrap">
										<f:translate key="model.date" />
									</th>
									<th nowrap="nowrap" colspan="3">
										<f:translate key="template.backend.workshops.show.label.attendance" />
									</th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{upcomingDates}" as="date">
									<f:alias map="{classes: '{w:be.dateRecordClasses(date: date)}'}">
										<tr>
											<td nowrap="nowrap" class="col-icon"></td>
											<td>
												<f:link.action controller="Backend\Registrations" action="index" arguments="{date: date}">
													<f:render partial="Backend/Date/Date" arguments="{date: date}" />
												</f:link.action>
											</td>
											<td>
												<div class="attendance-block {classes.minimum}">
													<f:if condition="{date.minimumAttendanceEnabled}">
														<f:then>
															<span class="number">
																{date.minimumAttendance}
															</span>
														</f:then>
														<f:else>
															<span class="number">
																&ndash;
															</span>
														</f:else>
													</f:if>
													<span class="description">
														<f:translate key="shared.word.minimum" />
													</span>
												</div>
											</td>
											<td>
												<div class="attendance-block {classes.current}">
													<span class="number">
														{date.registrations -> f:count()}
													</span>
													<span class="description">
														<f:translate key="model.registration._plural" />
													</span>
												</div>
											</td>
											<td>
												<div class="attendance-block {classes.maximum}">
													<f:if condition="{date.maximumAttendanceEnabled}">
														<f:then>
															<span class="number">
																{date.maximumAttendance}
															</span>
														</f:then>
														<f:else>
															<span class="number">
																&ndash;
															</span>
														</f:else>
													</f:if>
													<span class="description">
														<f:translate key="shared.word.minimum" />
													</span>
												</div>
											</td>
										</tr>
									</f:alias>
								</f:for>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="typo3-message message-notice">
				<div class="message-body">
					<f:translate key="template.backend.workshops.show.text.noUpcomingDatesForWorkshop" />
				</div>
			</div>
		</f:else>
	</f:if>
</f:section>