{namespace w=NIMIUS\Workshops\ViewHelpers}
<f:layout name="Default" />

<!--
	Available in this view:
	
	- categories				All categories
	- category					The current category
	- workshops					All workshops
-->

<f:section name="content">
	<w:widget.categories />

	<f:if condition="{workshops}">
		<f:then>
			<table>
				<thead>
				<tr>
					<th>Identifier</th>
					<th>Name</th>
					<th>Abstract</th>
					<th>Price</th>
					<th></th>
				</tr>
				</thead>

				<tbody>
				<f:for each="{workshops}" as="workshop">
					<tr>
						<td>{workshop.identifier}</td>
						<td>{workshop.name}</td>
						<td>{workshop.abstract}</td>
						<td>
							<f:if condition="{workshop.price}">
								{workshop.price}
							</f:if>
						</td>
						<td>
							<w:link workshop="{workshop}">Details</w:link>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<p>No workshops found</p>
		</f:else>
	</f:if>
</f:section>