<f:layout name="Default" />

<!--
	Available in this view:
	
	- attendee					Currently logged in user as attendee object
	- categories				All categories
	- currentCategory			The current category
	- workshop					The current workshop
	- upcomingDates				Future workshop dates
-->

<f:section name="content">
	<h2>
		{workshop.name}
		<small>{workshop.identifier}</small>
	</h2>

	<p>{workshop.abstract}</p>

	{workshop.description}

	<f:if condition="{workshop.price}">
		<p>
			Price: {workshop.price}
		</p>
	</f:if>

	<f:if condition="{workshop.files}">
		<ul>
			<f:for each="{workshop.files}" as="file">
				<li><f:link.page pageUid="{file.originalResource.publicUrl}">{file.originalResource.name}</f:link.page></li>
			</f:for>
		</ul>
	</f:if>
	
	<f:if condition="{workshop.images}">
		<ul>
			<f:for each="{workshop.images}" as="image">
				<li><f:link.page pageUid="{image.originalResource.publicUrl}">{image.originalResource.name}</f:link.page></li>
			</f:for>
		</ul>
	</f:if>

	<h3>Workshop dates</h3>
	<f:if condition="{upcomingDates}">
		<f:then>
			<table>
				<thead>
				<tr>
					<th>Begin</th>
					<th>End</th>
					<th>Seats / free</th>
					<th>Location</th>
					<th>Price</th>
					<th></th>
				</tr>
				</thead>

				<tbody>
				<f:for each="{upcomingDates}" as="date">
					<tr>
						<td><f:format.date format="d.m.Y H:i">{date.beginAt}</f:format.date></td>
						<td><f:format.date format="d.m.Y H:i">{date.endAt}</f:format.date></td>
						<td>
							<f:if condition="{date.maximumAttendanceEnabled}">
								<f:then>
									{date.maximumAttendance} / {date.seatsAvailable}
								</f:then>
								<f:else>
									(No restriction)
								</f:else>
							</f:if>
						</td>
						<td>
							<f:link.action controller="Locations" action="show" arguments="{location: date.location}">
								{date.location.name}
							</f:link.action>
						</td>
						<td>
							<f:if condition="{date.price}">
								Price: {date.price}
							</f:if>
						</td>
						<td>
							<f:if condition="{date.registrationDeadlineReached}">
								<f:then>
									Registration deadline reached.
								</f:then>
								<f:else>
									<f:if condition="{date.seatsAvailable}">
										<f:link.action controller="Registrations" action="new" arguments="{date: date}">
											Sign up
										</f:link.action>
									</f:if>
								</f:else>
								
							</f:if>
						</td>
						<td>
							<f:if condition="{date.minimumAttendanceEnabled}">
								<f:if condition="{date.attendeesNeededForRequiredMinimum} > 0">
									Attendees still required:
									{date.attendeesNeededForRequiredMinimum} /
									{date.minimumAttendance}
								</f:if>
							</f:if>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<p>No upcoming dates</p>
		</f:else>
	</f:if>
</f:section>