/**
 * Additional styles for the administration backend module.
 */
.attendance-block {
  text-align: center;
}

.attendance-block .number,
.attendance-block .description {
  display: block;
}

.attendance-block .number {
  font-weight: bold;
}

.attendance-block .description {
  font-size: smaller;
}

.attendance-block-notice {
  color: #777;
  background-color: #f6f7fa;
}

.attendance-block-warning {
  color: #9e7d4a;
  background-color: #fbf6de;
}

.attendance-block-success {
  color: #3b7826;
  background-color: #58b548;
}