{namespace w=NIMIUS\Workshops\ViewHelpers}

<f:layout name="Default" />

<!--
	Available in this view:
	
	- upcomingDates
-->

<f:section name="content">
	<f:if condition="{upcomingDates}">
		<f:then>
			<f:for each="{upcomingDates}" as="date">
				<p>
					{date.workshop}<br />
					From <f:format.date format="d.m.Y H:i">{date.beginAt}</f:format.date>
					to <f:format.date format="d.m.Y H:i">{date.endAt}</f:format.date><br />
					<w:link workshop="{date.workshop}">More information</w:link>
				</p>
			</f:for>
		</f:then>
		<f:else>
			<p>No upcoming workshop dates.</p>
		</f:else>
	</f:if>
</f:section>